/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}

/*****----- Global Properties -----*****/
@import                          "shared/colors.rasi"
@import                          "shared/font.rasi"
@import                          "shared/config.rasi"
@import                          "shared/menu.rasi"

