# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# I HATTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTEEEE auto wrapping
max_line_length=140

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8

# tab indentation
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# tab indentation
[*.py]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Indentation override for all JS under lib directory
[*.{js,ts,vue}]
indent_style = tab
indent_size = 4

[*.java]
indent_style = tab
indent_size = 4

[*.lua]
indent_style = tab
indent_size = 4
# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = tab
indent_size = 4

[*.tf]
indent_style = space
indent_size = 2
# Don't wrap..
max_line_length = 9999
