* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #000000;
    border-radius: 7px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #8aadf4;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#workspaces button {
    color: #f9e2af;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

#workspaces button.active {
    color: #74c7ec;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 13px;
}

#workspaces button.persistent {
    color: #f9e2af;
}

#workspaces button.empty {
    color: #313244;
}

#workspaces button.active,
#workspaces button.visible {
    color: #89b4fa;
    box-shadow: inset 0 -1px #1e1e2e;
}

#workspaces button.urgent {
    color: #f38ba8;
}

/* These are blended */
#language,
#cpu,
#window,
#pulseaudio,
#pulseaudio.microphone,
#workspaces,
#memory,
#disk,
#idle_inhibitor,
#battery{
    background: #1e1e2e;
    opacity: 1.0;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
    margin-right: 5px;
    margin-left: 5px;
}

/* These are "islands" */
#custom-weather,
#custom-updates,
#clock,
#power-profiles-daemon,
#network,
#tray {
    background: #1e1e2e;
    opacity: 1.0;
    padding: 1.5px 10px 1.5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
    margin-right: 5px;
    margin-left: 5px;
}


#custom-updates {
    padding-right: 20px
}

#workspaces {
    background: #1e1e2e;
    border-radius: 13px;
    margin-left: 5px;
    padding-right: 0px;
}

#window {
    border-radius: 7px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #a6e3a1;
}

#battery {
    color: #a6e3a1;
    border-radius: 0;
    margin-right: 0px;
    margin-left: 0px;
}

#battery.warning:not(.charging) {
    color: #f9e2af;
}

#battery.critical:not(.charging) {
    color: #a6e3a1;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    color: #89b4fa;
}

#custom-player {
 color: #cba6f7;
 border-radius: 7px 7px 7px 7px;
 padding-left: 4px;
 margin-left:  5px;
 margin-right: 5px;
}

#memory {
    color: #94e2d5;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right:0px;
}

#disk {
    color: #f9e2af;
    border-radius: 0px 13px 13px 0px;
    margin-left: 0px;
}


#bluetooth {
  color: #94e2d5;
  border-radius: 0px 13px 13px 0px;
  margin-left: 5px;
  margin-right: 5px;
} 

#pulseaudio {
  color: #94e2d5;
  border-radius: 0px 0px 0px 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
}


#language {
   border-radius: 0px;
   margin-left: 0px;
   margin-right: 0px;
}

#power-profiles-daemon {
   border-radius: 0px 13px 13px 0px;
   padding-right: 20px;
   padding-left: 10px;
   margin-left: 0px;
}

#idle_inhibitor{
   border-radius: 13px 0px 0px 13px;
   padding-right: 15px;
   padding-left: 10px;
   margin-right: 0px;
}

#idle_inhibitor.activated{
    color: #94e2d5
}

#idle_inhibitor.deactivated {
    color: #cdd6f4;
}

#cpu {
   border-radius: 13px 0px 0px 13px;
   padding-left:10px;
   margin-right:0px;
   margin-left: 0px;
}

#custom-weather {
   border-radius: 13px 13px 13px 13px;
   margin-right: 10px
}

@keyframes blink {
    to {
        color: #f38ba8;
    }
}
